<!DOCTYPE html>
<html lang="en">
  <head>
<%= render :partial => 'layouts/header' %>
  </head>
  <body>
<%= render :partial => 'layouts/navbar' %>
    <div class="container">
<%= render :partial => 'layouts/flashes' %>
<%= yield %>
<hr />
<footer>
<%= render :partial => 'layouts/footer' %>			
</footer>
    </div>
  </body>
</html>